RewriteEngine On
RewriteBase /missbato-scr/

# Exclude assets from rewrite rule
RewriteCond %{REQUEST_URI} !\.(css|js|svg|jpg|jpeg|png|gif|woff2|ico|ttf)$ [NC]

# Redirect all requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /missbato-scr/public/index.html [L]

# Exclude the public and app directories from the rewrite rule
RewriteCond %{REQUEST_URI} !^/missbato-scr/public/
RewriteCond %{REQUEST_URI} !^/missbato-scr/app/
RewriteRule ^(.*)$ /missbato-scr/public/$1 [L]
